<button {{action 'addToFavQuestions' question}}>Add to Favorite Questions</button> {{favoriteQuestions.questions.length}}
<br>
<button {{action 'delete' question}}>Delete</button>
<br><br>
<strong>{{answerNumber}}</strong>
<br>
<ul>
  {{#each question.answers as |answer|}}
  <li>{{answer.content}}<br>{{answer.author}}</li>{{/each}}
</ul>
